h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

h2 {
	text-align: center;
	color: #808080;
	font-style: italic;
	font-size: 32px;
}

.crop {
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 270px;
	overflow: hidden;
}

.crop img {
	width: 180px;
	height: 320px;
}

.header {
	background-color: #003366;
	border-style: dashed;
	border-color: #ffffff;
	font-family: Helvetica;
}

.alignLeft {
	float: left;
	width: 33%;
	text-align: left;
}

.alignCenter {
	color: black;
	float: left;
	width: 33%;
	text-align: center;
}

.alignRight {
	color: black;
	float: right;
	width: 33%;
	text-align: right;
}

.linkColor {
	color: #CCCCCC;
}

.clear {
	clear: both;
	line-height: 0;
}

.para {
	padding-left: 25px;
}

.content {
	font-family: serif;
}